//---------------------------------------------COLORS---------------------------------------------------------//
//WHITES & LIGHT GRAYS
$color-white: #fff;
$color-grey-light-1: #eee;
$color-grey-light-2: #ddd;

//BLACKS AND DARK GRAYS
$color-black: #131a20;
$color-grey-dark: #1f2b35;

//PRIMARY COLORS
$color-primary: #74bdd8;
