//---------------------------------------------COLORS---------------------------------------------------------//
//WHITES & LIGHT GRAYS
$color-white: #fff;

//BLACKS AND DARK GRAYS
$color-black: #0c161d;

//PRIMARY COLORS
$color-primary: #fff;
