.main {
  text-align: center;

  .button {
    padding: 1.5rem 6rem;
    margin-top: 3rem;
    border-radius: 7px;
    cursor: pointer;
    background-color: #74bdd8;
    border: 1px solid #74bdd8;
    color: $color-black;
    font-size: 2rem;
    transition: all 0.2s;

    &:hover,
    &:active {
      background-color: #5993a8;
      border: 1px solid #5993a8;
    }
  }

  .amount {
    font-size: 1.9rem;
    margin-top: 2rem;
  }

  .countdown {
    font-size: 1.9rem;
    margin-top: 5rem;
  }

  .youtubeDiv {
    margin: 0 auto;
    width: 750px;
    height: 420px;
  }
}
